<p style="text-align: right;">
  Avg power: <strong><%= power_avg %></strong> W &nbsp;&nbsp;&nbsp;
  Total power: <strong><%= watt_hours %></strong> Wh &nbsp;&nbsp;&nbsp;
  Avg pulse: <strong><%= pulse_avg %></strong> bpm &nbsp;&nbsp;&nbsp;
  Avg target: <strong><%= target_avg %></strong> bpm &nbsp;&nbsp;&nbsp;
  Avg rpm: <strong><%= rpm_avg %>
</p>
